@model CoreServicesTemplate.Console.Web.Models.UsersViewModel

@{
    ViewData["Title"] = "Read";
}

<h1>Users</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.UsersViewModelList) {
        <tr>
            <td>
                @item.Name
            </td>
            <td>
                @item.Surname
            </td>
            <td>
                @item.Birth
            </td>
        </tr>
}
    </tbody>
</table>
